{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<font color="#adff2f"><h1>Меня зовут Владимир Пилипенко</h1></font>
<font color="#ff7f50"><p><h2>И я начинающий python junior back-end разработчик, а это мой первый
    проект на Django-Framework v 4.2.7</h2></p></font>

<font color="black"><p>Для связи со мной сверху имеется кнопка: <font color="#6495ed">Телеграмм</font></p></font>
<font color="black"><p>А что-бы посмотреть мои работы, нажми кнопку: <font color="#6495ed">GitHub</font></p></font>

<p><h1>Данный проект реализует приложение типа ToDoList, для оперативного создания задач
и их дальнейшей реализации</h1></p>
{% endblock %}

